@font-face {
  font-family: 'HeadingNowTrial'; 
  src: url('../assets/fonts/HeadingNowTrial-68HeavyItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsMedium'; 
  src: url('../assets/fonts/poppins.medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsRegular'; 
  src: url('../assets/fonts/poppins.regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

.navbar {
    background: rgba(255, 255, 255, 0.95);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar h2 {
    color: #800000;
    font-size: 24px;
    font-family: 'HeadingNowTrial', sans-serif;
    text-align: center;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    min-height: 500px;
    background: linear-gradient(135deg, rgba(102, 1, 1, 0.8), rgba(235, 59, 59, 0.8));
}

.hero-content {
    text-align: center;
    flex: 1;
    color: white;
    z-index: 2;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 1px;
    font-family: 'PoppinsMedium', sans-serif;
}

.hero p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'PoppinsRegular', sans-serif;
}

.carousel{
    margin: 100px auto;
    width: 90%;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.carousel:hover .group{
    animation-play-state: paused;
}

.group{
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.card{
    min-width: 300px;
    height: 200px;
    padding: 20px;
    background: rgba(242, 109, 109, 0.563);
    border-radius: 10px;
    color: white;
}

@keyframes scroll {
    from { transform: translateX(0);}
    to {transform: translateX(-50%);}
}

.photo-wrap {
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}
